@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap');
* {
	box-sizing: border-box;
	font-family: "Orbit", sans-serif;
	font-weight: lighter;

}

body {
	background-image: url('../background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.fixed-box {
	width: 500px;
	height: 860px;
	left: 900px;
	top: 20px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 25px;
	padding: 10px;
	position: fixed;
	overflow: auto;
}

.fixed-footer {
	position: absolute;
	bottom: 5%;
}

.content-box {
	height: 100%;
	overflow: auto;
	padding: 10px;
}

.fixed-box::-webkit-scrollbar, .fixed-footer::-webkit-scrollbar,
	.content-box::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.status-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.status-bar__column {
	width: 33%;
}

.status-bar__column:nth-child(2) {
	display: flex;
	justify-content: center;
}

.status-bar__column:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center

.board {
	max-width: 530px;
	margin : 0px 0px 0px calc(-50px + 50vw);
	padding : 10px 20px;
	background-color: white;
	height: 90vh;
	
}
.board-cates  a{
	text-decoration: none;
	color: rgb(105, 111, 115);
	padding-bottom: 4px;
	display: inline-block;
}

.active {
	border-bottom: 2px solid rgb(14, 14, 14);
    color: rgb(2, 2, 2) !important;
    font-weight: 700;
}